{% extends 'base.html.twig' %}

{% block title %}Cart index{% endblock %}

{% block body %}
    <h1>Cart index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CartRef</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.cartRef }}</td>
                <td>
                    <a href="{{ path('app_cart_show', {'cartRef': cart.cartRef}) }}">show</a>
                    <a href="{{ path('app_cart_edit', {'cartRef': cart.cartRef}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cart_new') }}">Create new</a>
{% endblock %}
