{% extends 'admin/base-back.html.twig' %}

{% block title %}New Auction{% endblock %}

{% block body %}
    <h1>Create new Auction</h1>

    {{ include('auction/_form.html.twig') }}

    <a href="{{ path('app_auction_index') }}">back to list</a>
{% endblock %}
